// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-panel.modal {
  .px2rem-plus {
    label {
      display: block;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .panel-heading {
      margin: 1rem;
    }
  }
}
